__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
.env
.env.test
.env.k8s

terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/terraform.tfvars

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml